<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>
      
      <%=title%></title>
  </head>
  <body>
    <div class="header"><h1><i class="fas fa-clipboard-list"></i>&nbsp To Do App</h1></div>
    <div class="main-container">
      <!-- left side container
        which contains list title names 
        -->
      <div class="list-title">
            <div class="sub-container">
                <p>DESCRIPTION</p>
                <input id="des-input" type="text" name="description" placeholder="What do ypu need to do ?" required />
            </div>

            <div class="sub-container">
                <p>CATEGORY</p>
                <select name="category">
                    <option value="school">School</option>
                    <option value="work">Work</option>
                    <option value="shopping">hopping</option>
                    <option value="grocery">Grocery</option>
                    <option value="reminders">reminders</option>
                </select>
            </div>  

            <div class="sub-container"> 
              <p>Data</p>
              <input type="date" required>
            </div>
            <button type="submit">Add Task</button>
        </div>
        <!-- right side container
        which contains list items -->
        <div class="list-items"></div>
      </div>
    </div>
  </body>
</html>
