body {
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 45px;
  text-align: center;
  font-family: sans-serif;
  color: dimgrey;
  margin-top: 5px;
}

/* main container */
.main-container {
  height: 85%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

/* list title  container*/

.list-title {
  width: 30vw;
  height: 100%;

  border: 5px solid #2a8580;
  padding: 5px;
  border-radius: 10px;
}
.list-title .sub-container {
  height: 80px;
  border-top: 0;
  border-bottom: 3px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: dimgrey;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.list-title .sub-container p {
  margin: 0;
  text-align: center;
}

.list-title .sub-container input {
  height: inherit;
}
.list-title .sub-container select {
  height: inherit;
}

.list-title .cat-date-merge {
  display: flex;
  flex-direction: row;
}

.list-title .cat-date-merge #category {
  width: 50%;
  border-right: 1.5px solid white;
}
.list-title .cat-date-merge #date {
  width: 50%;
  border-left: 1.5px solid white;
}
.list-title button {
  width: 100%;
  height: 10%;
  background-color: #d5f1e5;
  font-size: larger;
}
.list-title button:hover {
  background-color: #bae0d1;
}

/* list container inside .list-title container */
.list-title .list {
  height: 50%;

  border-style: solid;
  border-color: white;

  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.list .category-title {
  width: 100%;

  border-bottom: 2px solid #2a8580;
  border-radius: 0 0 0 10px;
}

.list-items {
  width: 65vw;
  height: 100%;
  background-color: #d5f1e5;
  border: 5px solid #2a8580;
  border-radius: 10px;
}
.list-items ul {
  list-style: none;
}
.list-items p {
  margin: 0;
}

.list-items .display-container {
  width: 95%;

  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 2px solid #d5f1e5;
  border-radius: 10px;
  font-family: sans-serif;
  color: dimgrey;
  padding: 5px;
}

.list-items .display-container:hover {
  background-color: #f5f5f5;
}

.list-items .display-container .des-date-container {
  display: flex;
  justify-content: space-between;

  margin: 0 10px 0 10px;
}
.list-items .display-container #descrip {
  text-transform: capitalize;
}

.list-items .display-container .cate-del-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.list-items .display-container .cate-container {
  text-transform: capitalize;
}

.list-items .display-container a {
  color: black;
  border: 0;
}
